<%- layout("/layouts/boilerplate.ejs")%>

    <body>
        <div class="row mb-2">
            <div class="col-lg-6 overflow-hidden">
                <h2 style="text-decoration: underline;"><%= listing.title %></h2> 
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <img src="<%= listing.image.url %>" alt="Listing image" class="show-img">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <b><i> owned by <%= listing.owner.username %></i></b>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6 overflow-hidden">
                <%= listing.description %>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                &#8377;<%= listing.price.toLocaleString("en-IN") %>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <%= listing.category %>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <%= listing.location %>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <%= listing.country %>
            </div>
        </div>
        <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
            <div class="row mb-2">
                <div class="col-lg-3 col-6">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark pe-3 me-2">Edit</a>
                </div>
                <div class="col-lg-3 col-6">
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
        <%- include("../includes/review.ejs") %>
        <%- include("../includes/map.ejs") %>
    </body>